<%= form_for [@account, @project], :html => { :class => 'well form-horizontal' } do |f| %>
  <div class="control-group">
      <%= f.text_field :name, :class => 'text_field span3', :placeholder => 'Project Name' %>
  </div>

  <div class="control-group">
    <%= f.label :address1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address1, :class => 'text_field span3' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :bid_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bidDate, :class => 'text_field span3' %>
    </div>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(function() {
    $( "#project_bidDate" ).datepicker();
  });
  </script>