<div class="row">
  <div class="span9">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'dashboardnavigation' %>
        </div>
      </nav>
    </header>
    <table class="table table-striped ">
      <thead><tr>
        <th>ID</th>
        <th>Project</th>
        <th>Address</th>
        <th>Bid Date</th>
      </tr></thead>
      <tbody><tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= link_to "#{project.name}" %></td>
        <td><%= project.address1 %></td>
        <td><%= project.bidDate %></td>

        <td>
          <%= link_to "<i class='icon-edit'></i>".html_safe, edit_project_path(project), :controller => :projects, :method => :edit %>
          <%= link_to "<i class='icon-remove'></i>".html_safe, project_path(project), :confirm => "Are you sure?", :controller => :projects, :method => :delete %>
        </td>

      </tr>
    <% end -%>
      </tbody>
    </table>
  </div>
  <div class="span3">
    <h2>New Project</h2>
    <%= render "projectform", :object => @project %>
  </div>
</div>
