<h2><%= accountName %> Dashboard</h2>
<hr/>
<div class="row">
  <div class="span6">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'dashboardnavigation' %>
        </div>
      </nav>
    </header>

    <div class="slidingDiv span5">
      <h2>New Project</h2>
      <%= render 'projectform', :object => @project %>
      <a href="#" class="show_hide">hide</a>
    </div>


    <% if @projects.empty? %>
        <p class="well span5 center show_hide"><%= link_to "Start a Project", "#" %></p>
    <% else %>
      <table class="table table-striped ">
        <thead><tr>
          <th>ID</th>
          <th>Project</th>
          <th></th>
          <th></th>
        </tr></thead>

        <tbody>
          <% @projects.take(3).each do |project| %>
            <tr>
              <td><%= project.id %></td>
              <td><%= link_to "#{project.name}".capitalize, account_project_path(@account, project) %></td>
              <td>
                <%= link_to "<i class='icon-edit'></i>".html_safe, edit_account_project_path(@account, project) %>
                <%= link_to "<i class='icon-remove'></i>".html_safe, account_project_path(@account, project), :method => :delete, :confirm => "Are you sure?"  %>
              </td>

            </tr>
          <% end -%>
        </tbody>
      </table>
      <% if @projects.count > 3 %>
       <p class="well span5 center"><%= link_to "Show All Projects", account_projects_path(@account) %></p>
      <% end -%>
    <% end -%>
  </div>
  <div class="span4">
    <h2>Recent Actions</h2>
    <p><%= link_to "try a takeoff", "#" %></p>
  </div>
</div>

