<%= form_for(@costbook) do |f| %>
  <% if @costbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@costbook.errors.count, "error") %> prohibited this costbook from being saved:</h2>

      <ul>
      <% @costbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :material_cost %><br />
    <%= f.text_field :material_cost %>
  </div>
  <div class="field">
    <%= f.label :labor_cost %><br />
    <%= f.text_field :labor_cost %>
  </div>
  <div class="field">
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
