<div class="row">
  <div class="span12">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'costbooknavigation' %>
        </div>
      </nav>
    </header>

    
    
    <% if @costbook %>
    <h3><%= @costbook.name %> Costbook</h3>
    <hr/>
    <h3>Materials </h3>
    <a href="#" class="show_hide">New Material</a>
    <div class="slidingDiv">
      <%= render 'materialform' %>
      <a href="#" class="show_hide">hide</a>
    </div>


    
    <table class="table table-striped ">
      <thead><tr>
        <th>Name</th>
        <th>Description</th>
        <th>Crew / hr</th>
        <th>Daily Output</th>
        <th>LabHrs</th>
        <th>Units</th>
        <th>Material Cost</th>
        <th>Labor Cost</th>
        <th>Equip</th>
        <th>Total Cost</th>
        <th>Total w/ O&P</th>
        <th></th>
        <th></th>
        <th></th>
      </tr></thead>

      <tbody>
        <% @costbook.materials.each do |material| %>
          <tr>
            <td><%= material.name %></td>
            <td><%= material.description %></td>
            <td><%= material.crew %></td>
            <td><%= material.dialyOutput %></td>
            <td><%= material.laborHours %></td>
            <td><%= material.unit %></td>
            <td><%= material.beforeCostMaterial %></td>
            <td><%= material.beforeCostLabor %></td>
            <td><%= material.beforeCostEquipment %></td>
            <td><%= material.beforeCostTotal %></td>
            <td><%= material.overheadProfitTotal %></td>
            <td><%= link_to "edit", "#" %></td>
 
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <h3>Select a costbook from the menu</h3>
    <% end %>
  </div>
</div>