<div  class="span10 center">
<h2>My Projects</h2>
<br/>
<div class="row span9">
  <div class="span9">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'projectnavigation' %>
        </div>
      </nav>
    </header>

    <div class="slidingDiv span8">
      <h2>New Project</h2>
      <%= render 'dashboard/projectform', :object => @project %>
      <a href="#" class="show_hide">^ hide ^</a>
    </div>


    <table class="table table-striped ">
      <thead><tr>
        <th>ID</th>
        <th>Project</th>
        <th class="push-right">Takeoffs</th>
      </tr></thead>
      <tbody><tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= link_to "#{project.name}".capitalize, account_project_path(@account, project) %></td>
        <td><%= project.takeoffs.count %></td>
        <td>
          <%= link_to "<i class='icon-edit'></i>".html_safe, edit_account_project_path(@account, project) %>
          <%= link_to "<i class='icon-remove'></i>".html_safe, account_project_path(@account, project), :confirm => "Are you sure?", :method => :delete %>
        </td>

      </tr>
    <% end -%>

      </tbody>
 
    </table>
  </div>
</div>
</div>