<div class="row">
  <div class="span9">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'singleprojectnavigation' %>
        </div>
      </nav>
    </header>
    <%= link_to "takeoffs", new_takeoff_path %>
    <% if @project.takeoffs.count == 0 %>
      <p class="center"><%= link_to 'Create your first takeoff for this project.', "#" %></p>
    <% else %>
      <% @project.takeoffs.each do |takeoff| %>
        <p><%= takeoff.name %></p>
      <% end -%>
    <% end -%>
  </div>
  <div class="span2 well">
    <p>Address: <%= @project.address1 %></p>
    <p>Bid Date: <%= @project.bidDate %></p>
    <p>Contact: <%= @project.contact %></p>
  </div>
</div>
