<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @material.name %>
</p>

<p>
  <b>Description:</b>
  <%= @material.description %>
</p>

<p>
  <b>Crew:</b>
  <%= @material.crew %>
</p>

<p>
  <b>Dialyoutput:</b>
  <%= @material.dialyOutput %>
</p>

<p>
  <b>Laborhours:</b>
  <%= @material.laborHours %>
</p>

<p>
  <b>Unit:</b>
  <%= @material.unit %>
</p>

<p>
  <b>Beforecostmaterial:</b>
  <%= @material.beforeCostMaterial %>
</p>

<p>
  <b>Beforecostlabor:</b>
  <%= @material.beforeCostLabor %>
</p>

<p>
  <b>Beforecostequipment:</b>
  <%= @material.beforeCostEquipment %>
</p>

<p>
  <b>Beforecosttotal:</b>
  <%= @material.beforeCostTotal %>
</p>

<p>
  <b>Overheadprofittotal:</b>
  <%= @material.overheadProfitTotal %>
</p>


