<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_name %><br />
    <%= f.text_field :name %>

    <%= f.fields_for :users do |builder| %>
      <div class="field">
        <%= builder.label :username %><br />
        <%= builder.text_field :username %>
      </div>
      <div class="field">
        <%= builder.label :email %><br />
        <%= builder.text_field :email %>
      </div>

      <div class="field">
         <%= builder.label :password %><br />
         <%= builder.password_field :password %>
      </div>
      <div class="field">
         <%= builder.label :password_confirmation %><br />
         <%= builder.password_field :password_confirmation %>
      </div>
    <% end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
